body{
   font-family:helvetica;
}

#board table{
   border:none;
   border-spacing:8px;
}
#board{
   background:#F0F0F0;
   border-radius:3px;
   display:block;
   float:left;
}
#board td {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 40px;
  font-weight:bold; 
  background:#e2d6cf;
  border-radius:3px;
  border:1px solid #603a27;
  padding:5px;
  font-size: 34px;
}

td .qu {
  font-size: 34px;
}

#wordEntry{
   border:1px solid black;
   border-radius:10px;
   background:#FFFFFF;
   padding:5px;
   padding-left:15px;
}

#wordEntry:focus{
   outline:none;
}

#wordList{
   -webkit-column-count:6;
   -webkit-column-gap:10px;
   list-style:none;
   padding:0px;
   margin:0px;
   border:1px solid black;
   padding:10px;
   height:200px;
   width:400px;
   overflow-x:auto;
}

#wordList div{
   display: block;
}


.missed-word{
   color:#E77471;
}

